/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

/*.header-container {
    border-bottom: 20px solid #e44d26;
}*/

/*.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}*/

.header-container,
.footer-container,
/*.main aside*/ {
    /*background: #f16529;*/
    background: #fff;/*VM*/
}

.title {
    /*color: white;*/
    color: #333;/*VM*/
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    /*color: white;*/
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}
/*
.main aside {
    color: white;
    padding: 0px 5% 10px;
}
*/

.footer-container footer {
    /*color: white;*/
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
  font-family: 'Source Sans Pro', serif;
  color:#404040;
  background:#fdfdfd;
  line-height: 1.2;
}

pre{
    background: #f0f0f5;
}

code{
    font-size: 80%;
    background: #f0f0f5;
    padding:0.5ex;
}

.console{
    font-size: 80%;
    background: #f0f0f5;
    padding:0.5ex;
    border: 2px dashed #ff8800;
}

/*h1 {text-align:center;}*/

a {
  background-color:inherit;
  color:#4444A0;
  text-decoration:none;
}

a:hover {
  background-color:inherit;
  color:#FF6900;
  text-decoration:underline;
}

a[href^="tel:"] {
  background-color:inherit;
  color:inherit;
  text-decoration:none;
}

.gohome a {
  color:#404040;
  /*font-size: 1.8em;*/
  margin-right: 1ex;
  text-decoration:none;
}

.gohome a:hover {
  color:#FF6900;
  text-decoration:none;
}

.header-container span.gohome {
  float:left;
  margin-top: 1.5em;
}

.header-container span.update {
  float:right;
  margin-top: 1.6em;
  color:#a0a0a0;
}

.footer-container a {
  color:#a0a0a0;
  font-size:70%;
}

.header-container span.langen, span.langfr {
  clear:right;
  float:right;
/*  width:0px;*/
}


.pub-plus {
color:gray;
}


.w80 { /* span de taille 80 px */
    display:inline-block;width:80px;
}


h2{font-weight:normal;color:#000;}
h3{font-weight:normal;color:#000;}





a.pdf2 {
  background:url(../img/pdf0.png) no-repeat left center;
  padding:1px 0 1px 34px;
}

a.doi {
  background:url(../img/doi0.png) no-repeat left center;
  padding:1px 0 1px 34px;
}

a.plus {
  background:url(../img/plus0.png) no-repeat left center;
  padding:1px 0 1px 34px;

}

a.pdf2:hover {
  background:url(../img/pdf1.png) no-repeat left center;
  padding:1px 0 1px 34px;
}

a.doi:hover {
  background:url(../img/doi1.png) no-repeat left center;
  padding:1px 0 1px 34px;
}

a.plus:hover {
  background:url(../img/plus1.png) no-repeat left center;
  padding:1px 0 1px 34px;
}




.langen a {
  color:#a0a0a0;
  background:url(../img/en0.png) no-repeat left center;
  padding-left:25px;
}

.langen a:hover {
  color:#FF6900;
  background:url(../img/en1.png) no-repeat left center;
}

.langfr a {
  color:#a0a0a0;
  background:url(../img/fr0.png) no-repeat left center;
  padding-left:25px;
}

.langfr a:hover {
  color:#FF6900;
  background:url(../img/fr1.png) no-repeat left center;
}

p.pimg {
  text-align:center;
}



a.pdf {
  background:url(../img/pdf.png) no-repeat left center;
  padding:1px 0 1px 20px;
}

a.m {
  background:url(../img/m.png) no-repeat left center;
  padding:1px 0 1px 20px;
}

a.sci {
  background:url(../img/sci.png) no-repeat left center;
  padding:1px 0 1px 20px;
}

a.java {
  background:url(../img/java.png) no-repeat left center;
  padding:1px 0 1px 20px;
}

a.www {
  background:url(../img/web.png) no-repeat left center;
  padding:1px 0 1px 20px;
}

a.highlight {
  background-color:#4444A0;
  color:#ffffff;
  text-decoration:none;
  border-radius: 5px;
  padding:1px 4px;
}

a.highlight:hover {
  background-color:#FF6900;
  color:#ffffff;
  text-decoration:none;
}






div.boxed {
  background-color: #eee;
  padding: 1ex;
  margin: 2ex 0;
}

.boxed h6 {
  font-size: 100%;
  font-weight: bold;
  margin: 0 0 1em 0;
}


/* LISTES DE PRÉSENTATION DES ANIMATIONS */


ul.anim {
    list-style-type: none;
    margin: 0 -20px;
    padding: 0;
    overflow: hidden;
    /*background-color: #eff;*/
}

li.anim {
    float: left;
    width:175px;
    height:150px;
    margin: 20px 45px;
    /*background-color: #eee;*/
}

li.anim a {
    display: block;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

li.anim img {
  padding-bottom: 10px;
}


/* MATHÉMATIQUES */

.mathcal
{
	margin: auto;
	border-collapse: collapse;
	border-bottom: 1px solid #000;
}
.mathcal th
{
	font-weight: normal;
	padding: 7px 10px;
	text-align: center;
	border-bottom: 1px solid #000;
}
.mathcal td
{
	padding: .5ex 2ex;
}


.mathexams
{
	margin: auto;
	border-collapse: collapse;
	border-bottom: 1px solid #000;
}
.mathexams th
{
	font-weight: normal;
	padding: 7px 10px;
	text-align: center;
	border-bottom: 1px solid #000;
}
.mathexams td
{
	padding: 7px 10px;
	text-align: center;
}

ul.ulexam li span
{
    display: inline-block;
    width: 6em;
}

/* */

.refbu {
font-size:90%;
color:#b0b0b0;
}

.multicol p{
  margin: 0px;
}


.mathcal li
{
  margin:0 0 0.3em 0	;
}

.mathcal .date
{
  margin-left:1em;
  width:24em;
  display: inline-block;
}

/* TABLE RTNORM */

#table_rtnorm {
  margin:auto;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-collapse: collapse
}
#table_rtnorm td, #table_rtnorm th {
  padding: 5px 10px;
  margin: 0px;
}
#table_rtnorm thead {
  color: #333;
  background-color: #e5e5e5;
}
#table_rtnorm tr:nth-child(even) {
  background-color: #e5e5e5;
}


/* TABLE TRAITEMENT DU SIGNAL */

/*
#table_signal {
  margin:auto;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-collapse: collapse
}

#table_signal td, #table_signal th {
  width: 300px;
  padding: 5px 10px;
  margin: 0px;
  border-left: 1px solid #ddd;
}
*/


/* Pictures of me (/me) */

table.photos {
  border: 0px;
  text-align:center;
  margin: 1em auto 2em auto;
  border-collapse:collapse;
}

table.photos td
{
  border: 0px;
  padding:0px 15px 5px 0px;
  line-height:100%;
}



.annonce0 {
  color:#CC0000;
  text-align:center;
  background:#ffee66;
  padding:0px 8px;
  border:1px solid gray;
  width:500px;
}

.annonce {
  background:#e0e0e0;
  padding:10px;
  border:1px solid #e0e0e0;
}

.workinprogress {
  color:#C00;
  text-align:center;
  background:#fe6;
  padding:1em;
  border:2px dashed #c00;
  width:auto;
  font-weight:bold;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
   display: block;
}

#contcanvas {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#backcanvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#frontcanvas {
  position: absolute;
  top: 0px;
  left: 0px;
}













/* POUR LES ANIMATIONS */

.spetsi {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.anim-button {
	background-color:#ededed;
	/*-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;*/
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
/*    width:25px;
    height:25px;*/
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.anim-button:hover {
	background-color:#dfdfdf;
}
.anim-button:active {
	position:relative;
	top:1px;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /*.toto {color:red}*/

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* Persos */

  .twocolumns {
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
  }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/*
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
*/

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
        display: none;/*VM*/
    }

/* ============
    WIDE: Main
   ============ */
/*
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }*/

/* Persos */

  .multicol
  {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
  }

}

@media only screen and (min-width: 800px) {
.header-container span.gohome, span.langen, span.langfr {
  margin-left: -2.5em;
}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }


    /* Persos */

  .multicol
  {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
